li {
    /* list-style:none; */
 }
 
 header {
    background-color : #eee;
 }
 
 #wrap {
    overflow:auto;
    margin:20px 0px;
 }
 
 .left, .middle, .right {
    float:left;
    height: 200px;
 }
 
 .left {
    width:17%;
    margin-right:3%;
    background-color : #48c;
 }
 
 .middle {
    width : 60%;
    text-align:center;
    background-color : #68c;
 }
 
 .right {
    width: 17%;
    margin-left:3%;
    background-color : #98c;
   text-align: center;
   padding-top: 10px;
 }
 
 .middle > h2 {
    position:relative;
 }
 
 .middle .emoticon {
    /*h2 기준으로 오른쪽에 위치시키기*/
    position:absolute;
    top:0px;
    right:5%;
    color:#fff;
 }
 
 footer {
    background-color : #eee;
    clear:left;
 }