body {
	background-color: lightgray;
}

.button {
	display: inline-block;
	background-color: lightblue;
	color: white;
	width: 100px;
	margin: 20px 5px;
	border: none;
	border-radius: 3px;
	box-shadow: 3px 3px 3px lightgray;
	transition-duration: 0.4s;
}

.body-header {
	background-color: white;
	margin: 10px;
}

.header-nav {
	text-align: right;
	padding: 0 15px;
}

.body-header .button {
	height: 30px;
	text-align: center;
	text-decoration: none;
	line-height: 30px;
}

.body-header .button:hover, .body-section .button:hover{
	background-color: gray;
}

.body-section {
	background-color: white;
	margin: 10px;
	text-align: center;
	padding: 10px;
}

.body-section .button{
	height: 100px;
}

#section-img {
	max-width: 70%;
	margin: 10px;
}

.body-footer {
	background-color: white;
	color: gray;
	padding: 5px;
	margin: 10px;
	text-align: center;
}
